<%- include('partials/_header') %> %>

  <p>FORMULARIO</p>

  <a href="/">Inicio</a>

  <form action="/registroServer" method="post">

    <label># Documento</label>
    <input name="numDoc" placeholder="SOLO NUMEROS"><br>

    <label>Nombre completo</label>
    <input name="nombreServer" ><br>

    <label>Telefono</label>
    <input name="telServer"><br>

    <label>e-mail</label>
    <input name="mailServer"><br><br>

    <p>CONTACTO DE EMERGENCIA</p>

    <label>Nombre</label>
    <input name="nameContact"><br>

    <label>Telefono</label>
    <input name="telContact"><br>

    <label>Parentesco</label>
    <input name="linkContact"><br>

    <button type="submit">Enviar</button>

  </form>

</body>

</html> 